.wd-search-tuiter {
  bottom: 10px;
  left: 10px;
}

.wd-COG {
  padding-top: 20px;
  float: right;
}


.list-group-item.wd-customized-list-item-active {
  z-index: 2;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0,0,0,0.5);
  border-color: rgba(0,0,0,0.5);
}

.nav-tabs .nav-link.wd-customized-nav-link-active {
  font-weight: bold;
  border-bottom: solid 4px rgb(29,161,242);
  padding-bottom: 10px;
  color: white;
  width: 140%;
}

.wd-margin-to-right {
  margin-right: 50px;
}

.wd-img-style {
  width: 25px;
  height: 25px;
}

.wd-white-background {
  background-color:#ffffff;
}
.wd-black {
  color:#000000;
}

.wd-border {
  border-color: #ffffff;
}

.wd-img-size {
  width: 15px;
  height: 10px;
}

wd-margin-to-left {
  margin-left:10px;
  padding-left:10px;
}